@import '@/assets/variables';

nav {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  background: $color-background-dark;
  width: 100%
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  border-right: 1px solid $color-text;
  padding: 0 10px;
}

nav li:last-child {
  border-right: none;
}

a {
  padding: 4px 8px;
  border-radius: 40px;
  color: $color-text;
  &:hover{
    background-color: $color-background-dark;
  }

  &.social{
    * {
      height: 100%;
    }
  }
}